.component-container {
	display: flex;
	flex-direction: column;
	margin: 65px 8px;
}
@media screen and (max-width: 600px) {
	.ant-layout-header {
		height: 118px !important;
	}

	.ant-select:not(.ant-select-customize-input) .ant-select-selector {
		font-size: 12px;
	}

	.text-center.media {
		img {
			height: 34px !important;
		}
	}

	.ant-space.ant-space-horizontal.ant-space-align-center {
		display: flex !important;
		justify-content: center;
	}
	aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
		min-width: 100px !important;
		width: 100px !important;
		.ant-layout-sider-children {
			width: fit-content;
		}
	}
	aside.ant-layout-sider.ant-layout-sider-dark {
		max-width: 100px !important;
		min-width: 100px !important;
		width: 100px !important;
	}
	li.ant-menu-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: baseline;
		span.anticon.anticon-user.ant-menu-item-icon {
			font-size: xx-small;
		}
	}
}
