.ant-space.ant-space-horizontal.ant-space-align-center.fmwmap {
	margin: 14px auto;
	gap: 10px;
}
.site-layout-content.pathulslc ul.pathul {
	color: white;
	background: linear-gradient(#e91e63, #607d8b, #795548);
}
